.sidebar {
    display: flex;
    min-width: 304px;
    flex-direction: column;
    align-items: start;
    padding: 16px 24px 24px 24px;
    gap: 24px;
    border-radius: 16px;
    background: var(--system-white-color);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 10px;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cost {
    gap: 7px;
}

.cost-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.cost-header-right {
    font-size: 25px;
    letter-spacing: -0.8px;
}

.cost-header-valute {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.cost-list {
    display: flex;
    flex-direction: column;
}

.cost-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px; 
}

.sidebar-delivery {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-delivery__point {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.point__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-size: 16px;
    line-height: 24px; 
}

.edit-btn {
    width: 20px;
    height: 20px;
    background-image: url(/img/pencil.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.edit-btn:hover {
    transform: translateY(-3px); 
}

.point__addr-sidebar {
    font-size: 13px;
    line-height: 16px;
}

.point__data {
    color: var(--system-magenta-color);
    font-size: 13px;
    line-height: 16px;
    text-decoration:  underline dashed ;
    text-decoration-thickness: 0.9px;
    text-underline-position: under;
}

.sidebar-delivery__return {
    display: flex;
    padding: 9px 8px 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: rgba(246, 246, 250, 1);
    font-size: 13px;
    line-height: 16px; 
}

.sidebar-delivery__return-free {
    padding: 0;
}

.sidebar-payment {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-payment-top {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.sidebar-payment-card {
    text-align: right;
    font-size: 13px;
    line-height: 16px; 
}

.sidebar-payment-bottom {
    display: flex;
    padding: 8px 8px 8px 8px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    /* gap: 8px; */
    background: rgba(246, 246, 250, 1);
    font-size: 13px;
    line-height: 16px;
}

.sidebar-payment-description {
    padding-top: 8px;
    padding-bottom: 4px;
    display: flex;
}

.sidebar__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.btn__to-order {
    display: flex;
    height: 44px;
    padding: 0px 32px 5px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: none;
    border-radius: 8px;
    background: var(--system-magenta-color);
    color: var(--system-white-color);
    font-size: 16px;
    line-height: 24px; 
    cursor: pointer;
}

.btn__to-order:hover {
    background: rgba(220, 33, 189, 1);
}

.btn__to-order:active {
    background: rgba(161, 17, 137, 1);
}

.btn__to-order:disabled {
    background: rgba(246, 246, 250, 1);
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

.btn__description {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 13px;
    line-height: 16px;
    padding-right: 2px;
}