@font-face {
    font-family: 'Segoe UI';
    font-weight: 700;
    src: url('/fonts/SegoeUI-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 700;
    src: url('/fonts/SegoeUI-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 400;
    src: url('/fonts/SegoeUI-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 400;
    src: url('/fonts/SegoeUI-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 600;
    src: url('/fonts/SegoeUI-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 600;
    src: url('/fonts/SegoeUI-SemiBold.woff') format('woff');
}

.regular {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
}

.semi-bold {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 600;
}

.bold {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 700;
}

.gray {
    color: #9797AF;
}

* {
    box-sizing: border-box;
}

body {
    background: #6725A8;
}

.container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.header__container {
    display: flex;
    padding: 16px 20px 16px 24px;
    align-items: center;
    gap: 32px;
    
}

.header__catalog-logo{
    display: flex;
    width: 170px;
    align-items: center;
    gap: 14px;
}

.catalog-btn {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    padding: 12px 10px;
    background-position: 50%;
    width: 48px;
    height: 48px;
    background-image: url(/img/Vector.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: border .3s ease;
}

.catalog-btn:hover { 
    border: 1px solid white;
}

.header__logo {
    width: 108px;
    padding: 2px 1px 7px 2px;
}

.logo {
    width: 108px;
    color: #FFF;
    font-size: 30px;
    line-height: 0.79;
    font-variant: all-small-caps;
    margin: 0;
    letter-spacing: 1.7px;
    word-spacing: 1.4px;
}

.search {
    position: relative;
    width: 100%;
}

.search__input {
    padding: 14px 50px 16px 20px;
    border-radius: 36px;
    border: none;
    background-color: #FFFFFF33;
    width: 100%;
    position: relative;
    transition: background-color .3s ease;
    color: white;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.search__input:hover {
    background-color: #ffffff65;
}

.search__input:focus {
    background-color: #ffffff65;
    outline: none;
}

.search__input::placeholder {
    color: #ffffff;
    opacity: 0.5;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
}

.search-btn {
    border: none;
    background-image: url(/img/Search.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat; 
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 20px;
}

.navbar {
    display: flex;
    gap: 40px;
}

.navbar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;
}

.navbar__icon {
    width: 56px;
    height: 30px;
    padding: 0px 15px 0px 15px;
}

.navbar__icon_basket {
    padding-left: 10px; 
}

.icon__svg {
    width: 28px;
    height: 28px; 
}

.basket-label {
    position: absolute;
    border-radius: 16px;
    background: #F55123;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    line-height: 1.6; 
    bottom: 40px;
    left: 32px;
    padding: 0 5px;
    white-space: nowrap;
}

.icons-description {
    color:#FFF;
    font-size: 13px;
}

.main-container {
    border-radius: 24px ;
    background: #F6F6FA;
    display: flex;
    padding: 22px 24px 16px 24px;
    align-items: flex-start;
    gap: 32px; 
}

.content {
    display: flex;
    width: 100%; 
    max-width: 891px;
    padding-top: 12px;
    padding-bottom: 31px;
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.basket {
    display: flex;
    min-width: 640px;
    flex-direction: column;
    /* gap: 16px; */
    background: #F6F6FA;
}

.basket__header {
    margin: 0;
    font-size: 28px;
    line-height: 1.3; 
    letter-spacing: -0.28px;
    padding-bottom: 27px;
}

.accordion {
    display: flex;
    /* gap: 11px; */
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.accordion-left {
    display: flex;
}

.checkbox-label {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-label + .label-checkbox {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.checkbox-label + .label-checkbox::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #d3d4dd;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: #F6F6FA;
}

.checkbox-label:checked + .label-checkbox::before {
    width: 22px;
    height: 22px;
    background-image: url(/img/checkbox.svg);
    border: none;
}

.checkbox-label:not(:disabled):not(:checked) + .label-checkbox:hover::before {
    border-color: #a9a8b0;
}

.accordion__choose {
    height: 24px;
    padding-bottom: 4px;
    font-size: 16px;
    display: flex;
}

.accordion__choose_hidden {
    display: none;
}

.checkbox-label-choose + .accordion__header {
    gap: 11px;
}

.accordion__header-hide {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
}

.accordion__header-hide_hidden {
    display: none;
}


.accordion__hide-btn {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.hide-btn {
    width: 20px;
    height: 20px;
    background-image: url(/img/hidebtn.svg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    filter: opacity(35%);
    transition: transform 0.3s ease;
}


.hide-btn:hover {
    filter: opacity(100%);
}

.hide-btn-flipped {
    transform: rotate(-180deg);
}


.basket__list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-self: stretch;
    padding-top: 1px;
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.basket__list_overflow {
    overflow: visible;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.list-item__goods {
    display: flex;
    padding-top: 10px;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;   
}

.list-item__goods-img {
    display: flex;
    gap: 12px;
}

.goods-img__checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}

.content-img {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.list-item__goods-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.goods-info__title {
    font-size: 16px;
    line-height: 1.5; 
    width: 270px;    
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.goods-info__properties {
    display: flex;
    font-size: 13px;
    line-height: 1.1; 
}

.good-size {
    padding-left: 17px;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.comstore {
    font-size: 13px;
    line-height: 1.3; 
}

.comstore__company {
    display: flex;
    align-items: center;
    gap: 6.5px;
}

.icon-i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/img/icon-i.svg);
    cursor: pointer;
    position: relative;
}

.icon-i:hover .tooltip-i {
    visibility: visible;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.30)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: #FFF;
    z-index: 2;
}

.tooltip-i {
    width: 280px;
    right: -130px;
    top: 25px;
    display: flex;
    padding: 12px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 13px;
    line-height: 1.23;
    color: #000;
}

.list-item__right {
    display: flex;
    width: 226px;
    padding-top: 7px;
    gap: 16px;
}

.list-item__remainder {
    display: flex;
    padding-top: 3px;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
}

.counter {
    border-radius: 8px;
    background: #FFF;
    display: flex;
    align-items: center;
    padding: 9px 7px 10px 10px;
    user-select: none;
    max-width: 100px;
}

.counter__count {
    text-align: center;
    font-size: 16px;
    min-width: 57px;
}

.counter__input {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
    /* width: auto; */
}

.counter__input:focus {
    outline: none;
}

.counter__sign {
    font-size: 20px;
    cursor: pointer;
}

.counter__sign_disabled {
    color: rgba(0, 0, 0, 0.20);
    cursor: default;
}

.count-cood {
    display: none;
}

.remainder-alert {
    color: #FF3B30;
    font-size: 13px;
    display: flex;
    align-self: flex-start;
}

.remainder-alert_hidden {
   display: none;
}

.remainder__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hearth {
    width: 20px;
    height: 20px;
    background-image: url(/img/hearth.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.hearth:hover {
    background-image: url(/img/hearth-hover.svg);
}

.delete {
    width: 20px;
    height: 20px;
    background-image: url(/img/delete.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete:hover {
    background-image: url(/img/delete-hover.svg);
}

.list-item__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.list-item__price-new {
    display: flex;
    align-items: baseline;
    gap: 6px
}

.price-new__digit {
    margin: 0;
    text-align: right;
    font-size: 21px;
    line-height: 1.3; 
    letter-spacing: -1px;
}

.price-new__digit_mini {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 1.8; 
}

.price-new__valute {
    margin: 0;
    text-align: right;
    font-size: 16px;
}

.list-item__price-sale {
    font-size: 13px;
    line-height: 1.2;
    position: relative;
    text-decoration:  underline dashed ;
    text-decoration-thickness: 0.9px;
    text-underline-position: under;
    cursor: pointer;
    position: relative;
}

.list-item__price-sale::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 1px; 
    background: #9797AF; 
}

.list-item__price-sale:hover .tooltip-sale {
    visibility: visible;
}

.tooltip-sale {
    right: -8px;
    top: 20px;
    display: flex;
    padding: 11px 16px 13px 16px;
    align-items: flex-start;
    gap: 10px;
    font-size: 13px;
    line-height: 1.23;
    color: #000;
    white-space: nowrap;
}

.tooltip-sale__header {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.tooltip-sale__cont {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    flex-direction: column;
}

.basket__soldout {
    z-index: 1;
    display: flex;
    position: relative;
}

.solduot__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    padding-bottom: 18px;
    font-size: 16px;
}

.solduot__list-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.goods-info__title_width {
    width: 286px;
}

.content-img_soldout {
    filter: grayscale(100%);
}

.soldout__right {
    display: flex;
    width: 100px;
    padding-top: 3px;
    flex-direction: column;
    align-items: flex-end;
}

.placing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    min-width: 638px;
}

.placing__item {
    display: flex;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
    flex-direction: column;
    padding: 16px 19px 24px 24px;
}

.delivery {
    gap: 23px;
}

.delivery__method {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
}

.placing__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-self: stretch;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.24px;
}

.change-btn {
    color: #CB11AB;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.change-btn:hover {
    text-shadow: 0 0 1px rgba(203, 17, 171, 0.5);
}

.delivery__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.delivery__item {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
   
}

.delivery__item-header {
    font-size: 16px;  
    line-height: 1.5; 
    width: 153px;
}

.item__point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.point__addr {
    font-size: 16px;
    line-height: 1.5; 
}

.point__rating {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 1.2;
}

.rating__star {
   padding-left: 4px;
   padding-right: 8px;
}

.delivery__item-cost {
    font-size: 16px;
    line-height: 1.5;
}

.delivery__item-goods {
    display: flex;
    align-items: flex-start;
    gap: 6px;
}

.item-goods__good {
    position: relative;
    height: 56px;
}

.item-goods__good-img {
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat, url(<path-to-image>), lightgray 50% / cover no-repeat;
    height: 56px;
}

.item-goods__good-label {
    position: absolute;
    border-radius: 16px;
    background: #F55123;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    line-height: 1.3; 
    top: -8px;
    right: -3px;
    padding: 0 5px;
    white-space: nowrap;
}

.delivery__return {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-size: 13px;
    line-height: 1.23;
}

.delivery__return-free {
    color: #0CB477;
    text-decoration:  underline dashed ;
    text-decoration-thickness: 0.9px;
    text-underline-position: under;
    padding-left: 2px;
    cursor: pointer;
    position: relative;
}

.delivery__return-free:hover .tooltip-free {
    visibility: visible;
}

.tooltip-free {
    left: -193px;
    top: 22px;
    padding: 10px 16px 14px 16px;
    width: 288px;
    font-size: 13px;
    line-height: 1.23;
    color: #000;
}

.tooltip-free-delivery {
    left: -115px;
}

.payment__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.payment__card {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 1.5;
}

.payment__card-system {
    display: flex;
    width: 32px;
    height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #F6F6FA;
}

.payment__card-number {
    padding-right: 5px;
}

.payment__description {
    padding-top: 8px;
    font-size: 13px;
    line-height: 1.23;
    display: flex;
}

.recepient {
    padding: 16px 24px 24px 24px;
    gap: 35px;
}

.recepient__list {
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
    gap: 38px 24px;
}

.recepient__userdata {
    display: flex;
    flex-direction: column;
    position: relative;
}

.recepient__userdata_top {
    width: calc(50% - 12px);
}

.recepient__userdata_bottom {
    width: calc(33.3% - 16px);
}

.userdata__label-top {
    display: none;
    position: absolute;
    font-size: 13px;
    letter-spacing: 0.2px;
    top: -20px;
}

.userdata__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    padding: 0;
    font-size: 16px;
    line-height: 1.6; 
}

.userdata__input:focus {
    outline: none;
}

.userdata__label-bottom {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    color: #F55123;
}

.userdata__label-bottom_inn {
    color: #000;
}

.sidebar {
    display: flex;
    min-width: 304px;
    flex-direction: column;
    align-items: start;
    padding: 16px 24px 24px 24px;
    gap: 24px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 10px;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cost {
    gap: 7px;
}

.cost-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.24px;
}

.cost-header-right {
    font-size: 25px;
    letter-spacing: -0.8px;
}

.cost-header-valute {
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: -0.2px;
}

.cost-list {
    display: flex;
    flex-direction: column;
}

.cost-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.5; 
}

.sidebar-delivery {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-delivery__point {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.point__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-size: 16px;
    line-height: 1.5; 
}

.edit-btn {
    width: 20px;
    height: 20px;
    background-image: url(/img/pencil.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.edit-btn:hover {
    transform: translateY(-3px); 
}

.point__addr-sidebar {
    font-size: 13px;
    line-height: 1.23;
}

.point__data {
    color: #CB11AB;
    font-size: 13px;
    line-height: 1.23;
    text-decoration:  underline dashed ;
    text-decoration-thickness: 0.9px;
    text-underline-position: under;
}

.sidebar-delivery__return {
    display: flex;
    padding: 9px 8px 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #F6F6FA;
    font-size: 13px;
    line-height: 1.33; 
}

.sidebar-delivery__return-free {
    padding: 0;
}

.sidebar-payment {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-payment-top {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.sidebar-payment-card {
    text-align: right;
    font-size: 13px;
    line-height: 1.23; 
}

.sidebar-payment-bottom {
    display: flex;
    padding: 8px 8px 8px 8px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    /* gap: 8px; */
    background: #F6F6FA;
    font-size: 13px;
    line-height: 1.23;
}

.sidebar-payment-description {
    padding-top: 8px;
    padding-bottom: 4px;
    display: flex;
}

.sidebar__btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.btn__to-order {
    display: flex;
    height: 44px;
    padding: 0px 32px 5px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: none;
    border-radius: 8px;
    background: #CB11AB;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5; 
    cursor: pointer;
}

.btn__to-order:hover {
    background: #dc21bd;
}

.btn__to-order:active {
    background: #a11189;
}

.btn__description {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 13px;
    line-height: 1.23;
    padding-right: 2px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.footer-content {
    display: flex;
    padding: 11px 24px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.footer-description {
    align-self: stretch;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 13px;
    line-height: 1.23;
    word-spacing: 0.4px;
    letter-spacing: 0.1px;
}

.list-item__price_mobile {
    display: none;
}

.tabbar-mob {
    display: none;
}

.modal {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background: var(--background-white, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
    z-index: 2;
}

.modal-pay {
    min-width: 400px;
}

.modal-pay__header {
    display: flex;
    padding: 16px 20px 13px 24px;
    align-items: flex-start;
    align-self: stretch;
}

.modal-pay__header-text {
    display: flex;
    flex: 1 0 0;
    font-size: 20px;
    line-height: 1.4; 
    letter-spacing: -0.2px;
}

.close-modal-button {
    display: flex;
    padding-top: 4px;
    align-self: stretch;
    width: 24px;
    height: 24px;
    background-image: url(/img/modal-exit.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.modal-pay__content {
    display: flex;
    padding: 1px 22px 123px 22px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.modal-pay__content-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.card-item-btn {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.card-item-btn + .card-item-btn-label {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 6px;
    align-self: stretch;
}

.card-item-btn + .card-item-btn-label::before {
    content: '';

    width: 14px;
    height: 14px;
    border: 1px solid #d3d4dd;
    border-radius: 50%;
    background-color: #fff; 
    margin-left: 3px;
    
}

.card-item-btn:checked + .card-item-btn-label::before {
    width: 20px;
    height: 20px;
    background-image: url(/img/radio-btn.svg);
    border: none;
    margin-left: 0px;
    
}

.card-item-btn:not(:disabled):not(:checked) + .card-item-btn-label:hover::before {
    border-color: #a9a8b0;
}

.card-label {
    display: flex;
    width: 32px;
    height: 24px;
    padding: 0px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 4px;
    background: var(--background-smoky, #F6F6FA);
}

.card-number {
    font-size: 16px;
    line-height: 1.5; 
}

.modal-pay__bottom {
    display: flex;
    padding: 16px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.modal-pay__bottom-btn {
    display: flex;
    height: 44px;
    padding: 0px 48px 5px 48px;
    align-items: center;
    border-radius: 8px;
    background: #CB11AB;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
    color: #FFF;
    font-size: 16px;
    line-height: 1.5; 
    border: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 0, 10, 0.30);
    z-index: 1; 
}

@media (max-width: 1023px) {

    .container {
        max-width: 1024px;
        min-width: 320px;
    }
    
    .header__container {
        padding: 14px 14px 14px 16px;
        gap: 16px;
    }
    
    .header__catalog-logo{
        width: 100%;
        align-items: center;
        gap: 17px;
    }
    
    .catalog-btn {
        border-radius: 0;
        border: none;
        padding: 0;
        width: 28px;
        height: 28px;
        background-image: url(/img/burger-mini.svg);
    }
    
    .header__logo {
        width: 100%;
        padding: 0px 1px 10px 5px;        
    }
    
    .logo {
        width: 198px;
        font-size: 28px;
        line-height: 0;
        letter-spacing: 1.5px;
        word-spacing: 1.4px;
    }
    
    .search__input {
        display: none;
    }
  
    .search-btn {
        top: -14px;
        right: 3px;
        background-image: url(/img/search-w.svg);
    }

    .navbar {
        display: none;
    }

    .main-container {
        gap: 16px;
        padding: 16px 0px 24px 0px;
        flex-direction: column;
    }
    
    .content {
        max-width: none;
        padding-top: 0px;
        padding-bottom: 0px;
        gap: 32px; 
    }
    
    .basket {
        gap: 9px;
        min-width: 270px;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .basket__header {
        font-size: 20px;
        padding-bottom: 9px;
    }
    
    .accordion {
        padding-bottom: 5px;
        border-bottom: none;

    }

    
    .accordion__hide-btn {
        padding-right: 4px;
    }
    
    .basket__list {
        border-top: none;
        gap: 15px;
    }

    .solduot__list-item:first-child {
        border-top:none; 
    }

    
    
    .list-item {
        flex-direction: column;
        border-top: 1px solid rgba(0, 0, 0, 0.10);
        padding-bottom: 0px;
    }

    .list-item:first-child {
        border-top:none; 
    }
    
    
    .list-item__goods {
        padding-top: 12px;
    }
    
    .list-item__goods-img {
        gap: 0;
    }
    
    .goods-img__checkbox {
        position: relative;
    }

    .checkbox-mob {
        position: absolute;
        top: 4px;
        left: 4px;
    }
    
    .content-img {
        width: 80px;
        height: 106px;
    }
    
    .list-item__goods-info {
        padding-top: 2px;
        gap: 0px;
    }

    .list-item__price_mobile {
        display: flex;
        gap: 5px;
        flex: 1 0 0;
        display: flex;
        align-items: baseline;
    }
    
    .list-item__price-new {
        gap: 5px 
    }
    
    .price-new__digit {
        font-size: 16px;
        letter-spacing: 0;
    }
    
    .price-new__digit_mini {
        font-size: 15px;
       line-height: 1.3;
    }
    
    .list-item__price-sale {
        line-height: 1.9;
        text-decoration-thickness: 0.9px;
    }
    
    .list-item__price-sale::before {
        bottom: 10px;
    }

    .goods-info__title {
        font-size: 14px;
        line-height: 1.42;
        width: 100%;
        min-width: 203px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    
    .nowrap {
        white-space: wrap;
    }
    
    .goods-info__properties {
        padding-top: 8px;
    }

   


    
    .comstore {
        padding-top: 7px;
    }
    
    .comstore__company {
        display: none;
    }
    
    .list-item__right {
        display: block;
        width: 100%;        
    }
    
    .list-item__remainder {
        flex-direction: row;
        align-items: center;
        padding-top: 5px;
        gap: 17px;
    }
    
    .counter {
        border-radius: 4px;
        padding: 3px 6px 6px 9px; 
        width: 80px;
    }
    
    .counter__count {
        min-width: 39px;
        font-size: 15px;
        padding-top: 1px;
    }
    
    .remainder-alert {
        width: 100%;
        flex: 1;
    }
    
    .remainder__icons {
        gap: 24px;
        padding-right: 12px;
    }

    .remainder-alert {
       
        align-self: center;
    }
    
    .list-item__price {
        display: none;
    }

    .solduot__header {
        margin-top: 18px;
        padding-bottom: 3px;
        margin-bottom: 6px;
    }
    
    .list-item-mob {
        margin-bottom: 1px;
    }

    .goods-info__title_width {
        width: 100%;
        min-width: 192px;
    }
    
    .content-img_soldout {
        filter: grayscale(100%);
    }
    
    .list-item__right-mob {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
   
    .soldout__right {
        padding-top: 9px;
    }
    
    .remainder__icons-mob {
        padding-right: 4px;
    }
    
    .placing {
        min-width: unset;
        gap: 12px;
    }
    
    .placing__item {
        padding: 16px 10px 24px 16px; 
    }
    
    .delivery {
        gap: 25px;
    }
    
    .delivery__method {
        gap: 8px;
    }
    
    .placing__header {
        font-size: 20px;
    }
    
    .delivery__list {
        gap: 16px;
    }
    
    .delivery__item {
        flex-direction: column;
        gap: 2px;
    }

    .delivery__item:last-child {
        padding-top: 8px;
    }
    
    .point__addr {
        line-height: 1.4;
        font-size: 16px;
    }
    
    .delivery__item-goods {
        padding-top: 9px;
    }
    
    .delivery__return {
        padding-left: 8px;
        padding-right: 12px;
    }
    
    .payment__content {
        gap: 8px;
    }
    
    .recepient {
        padding: 16px 16px 16px 15px;
        gap: 23px;
    }
    
    .recepient__list {
        gap: 45px;
        flex-direction: column;
    }
    
    .recepient__userdata {
        max-width: 350px;
    }
    
    .recepient__userdata_top {
        width: unset;
    }
    
    .recepient__userdata_bottom {
        width: unset;
    }
    
    .userdata__label-top {
        font-size: 12px;
        top: -16px;
    }
    
    .userdata__label-bottom {
        line-height: 2;
        letter-spacing: 0;
        word-spacing: 0px;
    }
    
    .sidebar {
        background: unset;
        box-shadow: unset;
        padding: 10px 16px 16px 16px;
        gap: 20px;
        width: 100%;
    }
    
    .sidebar__content {
        gap: 16px;
        width: 100%;
    }
    
    .cost {
        gap: 7px;
    }
    
    .cost-header {
        font-size: 20px;
    }
    
    .cost-header-right {
        font-size: 20px;
        letter-spacing: -0.2px;
    }
    
    .sidebar-delivery__point {
        display: none;
    }
    
    .sidebar-payment-top {
        display: none;
    }
    
    .sidebar-payment-bottom {
        padding: 6px 8px 12px 8px;
    }
    
    .footer-container {
        padding-bottom: 56px;
    }

    .tabbar-mob {
        display: flex;
        width: 100%;
        height: 56px;
        padding: 0px 13px;
        justify-content: space-between;
        align-items: center;
        background: #FFF;
        position: fixed;
        bottom: 0;
        left: 0;
        box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.30);
        backdrop-filter: blur(2.5px);
    }

    .tabbar__link {
        padding: 12px 0px;
        width: 28px;
    }

    .tabbar__icon {
        display: block;
        width: 28px;
        height: 28px;
        position: relative;
    }

    .main-svg {
        background-image: url(/img/main.svg);
    }

    .catalog-svg {
        background-image: url(/img/catalog.svg);
    }

    .cart-svg {
        background-image: url(/img/cart.svg);
    }

    .tabbar__label {
        position: absolute;
        border-radius: 16px;
        background: #F55123;
        color: #FFF;
        text-align: center;
        font-size: 10px;
        line-height: 1.6; 
        bottom: 16px;
        left: 17px;
        padding: 0 6px;
        white-space: nowrap;
    }

    .favorites-svg {
        background-image: url(/img/favorites.svg);
    }

    .profile-svg {
        background-image: url(/img/profile.svg);
    }
        

}

@media (max-width: 576px) {
    .modal {
        width: 100%; 
        border-radius: 0;
        height: 100%;
    }
    
    .modal-pay {
        min-width: unset;
    }
    
    .modal-pay__header {
        padding: 20px 22px 15px 16px;
    }
    
    .modal-pay__header-text {
        letter-spacing: -0.5px;
    }
    
    .modal-pay__content {
        padding: 1px 22px 0px 16px;
        flex: 1;
    }
    
    .modal-pay__bottom {
         padding: 16px 28px 24px 16px;
    }
    
    .modal-pay__bottom-btn {
        width: 100%;
        padding: 0px 0px 5px 0px;
        justify-content: center;
    }
    

}